<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>
    <div class="asd"></div>
    <form action="/news" method="post">
        <select name="category" id="category">
            {{#each categories}}
                <option value="{{link}}">{{name}}</option>
            {{/each}}
        </select>
        <select name="count" id="count">
            {{#each counts}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <button type="submit">OK</button>
    </form>

    {{#if news.articles.length}}
        <div class="news">
            <h2 class="news__category">{{news.category}}</h2>
            <ol class="news__list">
                {{#each news.articles}}
                    <li class="news__item">
                        <a href="{{link}}" class="new__link">{{title}}</a>
                        <div class="news__author">{{author}}</div>
                    </li>
                {{/each}}
            </ol>    
        </div>
    {{/if}}

    <script>

    </script>
</body>
</html>